:host {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  background-color: var(--bg-color);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.logo-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  &__icon {
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
  }
  &__title {
    margin-left: 3px;
    width: 60px;
    font-family: "lucida sans unicode", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--theme-color);
  }
  &:hover {
    cursor: pointer;
  }
}
