<app-header-nav-button
  (menuOpened)="arrowUp()"
  (menuClosed)="arrowDown()"
  [icon]="(icon$ | async) || 'login'"
  title="Аккаунт"
  [matMenuTriggerFor]="accountMenu"
></app-header-nav-button>
<div class="arrow" #arrow></div>
<mat-menu #accountMenu xPosition="before">
  <div class="mat-menu-wrapper">
    <div class="avatar-icon">
      <img src="../../../../../assets/icons/user.svg" alt="avatar" />
    </div>
    <button
      *ngIf="(isLogged$ | async) === false"
      mat-raised-button
      color="primary"
      class="login-btn"
      (click)="openModal()"
    >
      Войти
    </button>
    <p *ngIf="isLogged$ | async" class="user-name">
      {{ (userInfo$ | async)?.firstName }} {{ (userInfo$ | async)?.lastName }}
    </p>
    <a
      class="account-menu-link"
      mat-menu-item
      *ngIf="isLogged$ | async"
      [routerLink]="['/basket']"
    >
      <mat-icon>shopping_cart</mat-icon>
      Корзина
      <div *ngIf="(inBasket$ | async)?.length" class="number-of-goods">
        {{ (inBasket$ | async)?.length }}
      </div>
    </a>
    <a
      class="account-menu-link"
      mat-menu-item
      *ngIf="isLogged$ | async"
      [routerLink]="['/favorites']"
    >
      <mat-icon>favorite_border</mat-icon>
      Избранные товары
      <div *ngIf="(inFavorites$ | async)?.length" class="number-of-goods">
        {{ (inFavorites$ | async)?.length }}
      </div>
    </a>
    <a
      class="account-menu-link"
      mat-menu-item
      *ngIf="isLogged$ | async"
      [routerLink]="['/waitingList']"
    >
      <mat-icon>hourglass_bottom</mat-icon>
      Лист ожидания
      <div *ngIf="(orders$ | async)?.length" class="number-of-goods">
        {{ (orders$ | async)?.length }}
      </div>
    </a>
    <button
      *ngIf="isLogged$ | async"
      class="logout-btn"
      mat-menu-item
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Выход
    </button>
  </div>
</mat-menu>
