<app-header-nav-button
  (menuOpened)="arrowUp()"
  (menuClosed)="arrowDown()"
  [icon]="(icon$ | async) || 'login'"
  title="Аккаунт"
  [matMenuTriggerFor]="accountMenu"
></app-header-nav-button>
<div class="arrow" #arrow></div>
<mat-menu #accountMenu="matMenu" xPosition="before">
  <div class="mat-menu-wrapper">
    <button
      *ngIf="!(userInfo$ | async)?.isLogged"
      mat-raised-button
      color="primary"
      class="login-btn"
      (click)="openModal()"
    >
      Войти
    </button>
    <p *ngIf="(userInfo$ | async)?.isLogged" class="user-name">
      {{ (userInfo$ | async)?.firstName }} {{ (userInfo$ | async)?.lastName }}
    </p>
    <a class="account-menu-link" mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>Корзина
    </a>
    <a class="account-menu-link" mat-menu-item>
      <mat-icon>favorite_border</mat-icon>Избранные товары
    </a>
    <a class="account-menu-link" mat-menu-item>
      <mat-icon>visibility</mat-icon>Просмотренные
    </a>
    <a class="account-menu-link" mat-menu-item>
      <mat-icon>hourglass_bottom</mat-icon>Лист ожидания
    </a>
    <button
      *ngIf="(userInfo$ | async)?.isLogged"
      class="logout-btn"
      mat-menu-item
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Выход
    </button>
  </div>
</mat-menu>
