:host {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.sorting-panel__title {
  color: #333;
  font-weight: 700;
}

.sorting-panel__option {
  position: relative;
  margin-left: 30px;
  padding: 0;
  font-weight: 500;
  color: #4f4f4f;
  border: none;
  border-bottom: 1px dotted #4f4f4f;
  background-color: transparent;
  .mat-icon {
    position: absolute;
    top: 2px;
    right: -20px;
    font-size: inherit;
  }
}

.option-active {
  color: var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
}
