:host {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 48%;
  .mat-icon {
    z-index: 1;
    position: absolute;
    left: 15px;
    color: #aaa;
    transition-duration: 0.2s;
  }
}

.search-input {
  position: relative;
  padding-left: 50px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  color: #4f4f4f;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  &::placeholder {
    color: #aaaaaa;
  }
  &:focus {
    border: none;
    outline: none;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:focus + .mat-icon {
    color: unset;
  }
}
