:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-start;
  margin-right: auto;
  &:hover {
    color: var(--theme-color);
    cursor: pointer;
  }
}

.location-icon {
  position: relative;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  svg,
  use {
    height: 20px;
    width: 20px;
  }
}

.city-name {
}
