:host {
  font-size: 14px;
}

.favorites-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: var(--theme-color);
  border: none;
  background-color: transparent;
  transition-duration: 0.1s;
  &__title {
    margin-left: 5px;
    font-size: inherit;
    font-weight: 500;
  }
  &:hover {
    color: var(--color-6);
  }
  .mat-icon {
    margin-top: 4px;
    font-size: 20px;
  }
}

.in-favorites {
  color: #333;
}
