.auth-form {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 290px;
  width: 350px;
  &__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #4f4f4f;
  }

  &__subtitle {
    margin: 5px 0;
    align-self: flex-start;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
  }

  &__input {
    padding: 4px 15px 0;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    transition-duration: 0.2s;
    &:focus {
      outline: none;
    }
    &.ng-invalid.ng-touched {
      border-color: #eb5757;
    }
    &.ng-valid {
      border-color: var(--theme-color);
    }
  }
  &__buttons-wrapper {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-around;
    width: 100%;
  }

  &__submit-button {
    margin-top: 20px;
    padding: 0 30px;
    min-width: 120px;
    background-color: var(--theme-color);
  }

  &__registration-button {
    margin-top: 20px;
    color: var(--theme-color);
  }

  &__close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    color: #aaaaaa;
  }

  &__back-btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
  }
}

.error-validation {
  align-self: flex-start;
  margin-top: 2px;
  height: 14px;
}

.error-validation-message {
  font-size: 10px;
  color: #eb5757;
}
