<div class="image">
  <img
    [src]="goodsItem.imageUrls[0] || '../../../../assets/logo.png'"
    alt="preview"
  />
</div>
<a class="title" [routerLink]="['/catalog', goodsItem.id]">{{
  goodsItem.name
}}</a>
<app-availability
  [appAvailableAmountHighlighting]="goodsItem.availableAmount"
  [availableAmount]="goodsItem.availableAmount"
></app-availability>
<p class="price">
  {{ goodsItem.price | number: "1.2-2" }} <span class="currency">р.</span>
</p>
<app-rating [rating]="goodsItem.rating"></app-rating>
<app-to-basket-btn [goodsItemId]="goodsItem.id"></app-to-basket-btn>
<app-favorites-btn [goodsItemId]="goodsItem.id"></app-favorites-btn>
