<div class="footer-contacts">
  <div class="wrapper">
    <a class="footer-contacts__link" href="tel:+375290000000">
      <div class="footer-contacts__icon">
        <svg>
          <use xlink:href="../../../../assets/icons/sprite.svg#a1-icon"></use>
        </svg>
      </div>
      +375290000000
    </a>
    <a class="footer-contacts__link" href="tel:+375290000000">
      <div class="footer-contacts__icon">
        <svg>
          <use xlink:href="../../../../assets/icons/sprite.svg#life-icon"></use>
        </svg>
      </div>
      +375290000000
    </a>
    <a class="footer-contacts__link" href="tel:+375290000000">
      <div class="footer-contacts__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#telephone-icon"
          ></use>
        </svg>
      </div>
      +375290000000
    </a>
    <a
      class="footer-contacts__link"
      href="https://t.me/"
      target="_blank"
      rel="noopener noreferer"
    >
      <div class="footer-contacts__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#telegram-icon"
          ></use>
        </svg>
      </div>
      Telegram
    </a>
    <a
      href="https://chats.viber.com/"
      target="_blank"
      rel="noopener noreferer"
      class="footer-contacts__link"
    >
      <div class="footer-contacts__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#viber-icon"
          ></use>
        </svg>
      </div>
      Viber
    </a>
    <a class="footer-contacts__link" href="mailto:example@mail.com">
      <div class="footer-contacts__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#email-icon"
          ></use>
        </svg>
      </div>
      Почта
    </a>
    <a class="footer-contacts__link" href="#">
      <div class="footer-contacts__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#message-icon"
          ></use>
        </svg>
      </div>
      Написать нам
    </a>
  </div>
</div>
<div class="footer-social">
  <div class="wrapper">
    <a
      href="https://vk.com/"
      target="_blank"
      rel="noopener noreferer"
      class="footer-social__link vk"
    >
      <div class="footer-social__icon">
        <svg>
          <use xlink:href="../../../../assets/icons/sprite.svg#vk-icon"></use>
        </svg>
      </div>
    </a>
    <a
      href="https://facebook.com/"
      target="_blank"
      rel="noopener noreferer"
      class="footer-social__link facebook"
    >
      <div class="footer-social__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#facebook-icon"
          ></use>
        </svg>
      </div>
    </a>
    <a
      href="https://instagram.com/"
      target="_blank"
      rel="noopener noreferer"
      class="footer-social__link instagram"
    >
      <div class="footer-social__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#instagram-icon"
          ></use>
        </svg>
      </div>
    </a>
    <a
      href="https://youtube.com/"
      target="_blank"
      rel="noopener noreferer"
      class="footer-social__link youtube"
    >
      <div class="footer-social__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#youtube-icon"
          ></use>
        </svg>
      </div>
    </a>
    <a
      href="https://ok.ru/"
      target="_blank"
      rel="noopener noreferer"
      class="footer-social__link odnoklassniki"
    >
      <div class="footer-social__icon">
        <svg>
          <use
            xlink:href="../../../../assets/icons/sprite.svg#odnoklassniki-icon"
          ></use>
        </svg>
      </div>
    </a>
  </div>
</div>
