/* You can add global styles to this file, and also import other style files */
@import url(./reset.css);

:root {
  --theme-color: #009688;
  --color-1: #61b989;
  --color-2: #acd988;
  --color-3: #fcf491;
  --color-4: #faba62;
  --color-5: #ee7e4f;
  --color-6: #de425b;
  --bg-color: #f7f8fa;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--theme-color);
}

.no-scrollable {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
}
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

.mat-snack-bar-container {
  color: white;
  background-color: var(--theme-color);
}

a {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--theme-color);
  }
  &:hover .mat-icon {
    color: var(--theme-color);
  }
}

button,
a,
.mat-icon,
p {
  user-select: none;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

svg {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95%;
  @media screen and (min-width: 600px) {
    width: 90%;
  }
  @media screen and (min-width: 1920px) {
    width: 1400px;
  }
}
