<div class="wrapper">
  <app-promotional-goods-slider></app-promotional-goods-slider>
  <h3 class="title">Популярные товары</h3>
  <app-popular-goods-slider></app-popular-goods-slider>
  <h3 class="title">Возможности приложения</h3>
  <div class="about-app">
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/search.png" alt="search-example" />
      </div>
      <p class="about-app__text">Возможность поиска товаров</p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/sorting.png" alt="sorting-example" />
      </div>
      <p class="about-app__text">Сортировка товаров по цене и популярности</p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/load-more.png" alt="load-example" />
      </div>
      <p class="about-app__text">
        Подгрузка следующих товаров при необходимости
      </p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/available.png" alt="available-example" />
      </div>
      <p class="about-app__text">
        Отображение наличия товаров. Цвет соответствует количеству на складе
      </p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/account.png" alt="account-example" />
      </div>
      <p class="about-app__text">Создание личного учетной записи</p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img
          src="../../../assets/add-to-basket.png"
          alt="add-to-basket-example"
        />
      </div>
      <p class="about-app__text">
        При наличии учетной записи появляется возможность добавлять товары в
        корзину и избранное, а также оформлять заказ
      </p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/nitification.png" alt="amount-example" />
      </div>
      <p class="about-app__text">
        После добавления товара в соответствующий список в панели учетной записи
        появится уведомление
      </p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/change-amount.png" alt="amount-example" />
      </div>
      <p class="about-app__text">
        В корзине есть возможность изменить количество
      </p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img
          src="../../../assets/remove-from-basket.png"
          alt="delete-example"
        />
      </div>
      <p class="about-app__text">...и удалить товар</p>
    </div>
    <div class="about-app__item">
      <div class="about-app__image">
        <img src="../../../assets/order.png" alt="order-example" />
      </div>
      <p class="about-app__text">
        После оформления заказа вы можете наййти его в листе ожидания. Для
        просмотра подробностей либо для отмены заказа следует кликнуть на заказ
      </p>
    </div>
  </div>
</div>
